<div class="grid">
  <div class="col-12 md:col-12">
    <div style="margin-top: -40px; z-index: 999" class="text-900 text-3xl font-medium page-title">
      <div class="mb-4 flex pt-0">
        <p-button icon="pi pi-chevron-circle-left" label="" (click)="goBack()"
          styleClass="p-button-sm p-button-text p-button-secondary p-button-rounded mr-2">
        </p-button>
        <p-breadcrumb styleClass="mt-2 pt-1" [model]="breadcrumbItems" [home]="{ icon: 'pi pi-home' }"></p-breadcrumb>
      </div>
    </div>

    <div class="surface-card shadow-1 px-3 pb-3 border-round bg-light mt-4">
      <div class="col-12">
        <div class="pt-2">
          <div class="light-green-font text-2xl mb-1 font-medium">
            <strong>Add New Warehouse</strong>
          </div>
          <br>
          <form class="form" [formGroup]="warehouseForm">
            <div class="p-fluid p-formgrid grid">
              <div class=" col-12 md:col-6">
                <label class="deep-green-font font-bold" for="name">Warehouse Name</label>
                <input pInputText id="name" type="text" placeholder="Enter Warehouse Name"
                  formControlName="name" [class.ng-invalid]="
                      warehouseForm.controls['name'].invalid &&
                      warehouseForm.controls['name'].touched
                    " />
                <div *ngIf="
                    warehouseForm.controls['name'].invalid &&
                    warehouseForm.controls['name'].touched
                  " class="p-error block">
                  <small id="name" class="p-error block"
                    *ngIf="warehouseForm.controls['name'].errors?.['required']">
                    This field is required
                  </small>
                  <small id="name" class="p-error block"
                    *ngIf="warehouseForm.controls['name'].errors?.['minlength']">
                    Character must be at least 3
                  </small>
                </div>
              </div>
              <div class=" col-12 md:col-6">
                <label class="deep-green-font font-bold" for="name">Warehouse Address</label>
                <input pInputText id="address" autocorrect="off" class="form-control" autocapitalize="off" placeholder="Enter Warehouse Address"
                  spellcheck="off" ngx-google-places-autocomplete
                    #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"
                    formControlName="address" class="form-control" [class.ng-invalid]="
                      warehouseForm.controls['address'].invalid &&
                      warehouseForm.controls['address'].touched
                    " />
                <div
                  *ngIf="
                    warehouseForm.controls['address'].invalid &&
                    warehouseForm.controls['address'].touched
                  "
                  class="p-error block"
                >
                  <small
                    id="username2-help"
                    class="p-error block"
                    *ngIf="warehouseForm.controls['address'].errors?.['required']"
                  >
                    This field is required
                  </small>
                  <small
                    id="username2-help"
                    class="p-error block"
                    *ngIf="warehouseForm.controls['address'].errors?.['minlength']"
                  >
                    Character must be at least 3
                  </small>
                </div>
              </div>
              <div class=" col-12 md:col-6">
                <label class="deep-green-font font-bold" for="type_id">Warehouse Type</label>
                <p-dropdown
                    [options]="wareHouseTypes"
                    [class.is-invalid]="
                      warehouseForm.controls['type_id'].invalid &&
                      warehouseForm.controls['type_id'].touched
                    "
                    bindLabel="name"
                    name="type_id"
                    id="type_id"
                    placeholder="Select Warehouse Type . . ."
                    bindValue="id"
                    formControlName="type_id"
                    optionLabel="name"
                  ></p-dropdown>
                  <div
                    *ngIf="
                      warehouseForm.controls['type_id'].invalid &&
                      warehouseForm.controls['type_id'].touched
                    "
                  >
                    <small
                      *ngIf="warehouseForm.controls['type_id'].errors?.['required']"
                      class="p-error blockr"
                      >Warehouse Type is Required</small
                    >
                  </div>
              </div>
              <div class=" col-12 md:col-6">
                <label class="deep-green-font font-bold" for="owner_id">Warehouse Owner</label>
                <p-dropdown
                    [options]="owners"
                    [class.is-invalid]="
                      warehouseForm.controls['owner_id'].invalid &&
                      warehouseForm.controls['owner_id'].touched
                    "
                    bindLabel="full_name"
                    name="full_name"
                    id="owner_id"
                    placeholder="Select Warehouse Owner . . ."
                    bindValue="id"
                    formControlName="owner_id"
                    optionLabel="full_name"
                  ></p-dropdown>
                  <div
                    *ngIf="
                      warehouseForm.controls['owner_id'].invalid &&
                      warehouseForm.controls['owner_id'].touched
                    "
                  >
                    <small
                      *ngIf="warehouseForm.controls['owner_id'].errors?.['required']"
                      class="p-error blockr"
                      >Warehouse Owner is Required</small
                    >
                  </div>
              </div>
              <div class=" col-12 md:col-6">
                <label class="deep-green-font font-bold" for="state_id">Warehouse State</label>
                <p-dropdown
                    [options]="states"
                    [class.is-invalid]="
                      warehouseForm.controls['state_id'].invalid &&
                      warehouseForm.controls['state_id'].touched
                    "
                    bindLabel="name"
                    name="state_id"
                    id="state_id"
                    placeholder="Select Warehouse State. . ."
                    bindValue="id"
                    formControlName="state_id"
                    optionLabel="name"
                    (onChange)="loadLgas($event)"
                  ></p-dropdown>
                  <div
                    *ngIf="
                      warehouseForm.controls['state_id'].invalid &&
                      warehouseForm.controls['state_id'].touched
                    "
                  >
                    <small
                      *ngIf="warehouseForm.controls['state_id'].errors?.['required']"
                      class="p-error blockr"
                      >Warehouse State is Required</small
                    >
                  </div>
              </div>
              <div class=" col-12 md:col-6">
                <label class="deep-green-font font-bold" for="geo_lga_id">Warehouse LGA</label>
                <p-dropdown
                    [options]="loadedLgas"
                    [class.is-invalid]="
                      warehouseForm.controls['geo_lga_id'].invalid &&
                      warehouseForm.controls['geo_lga_id'].touched
                    "
                    bindLabel="name"
                    name="geo_lga_id"
                    id="geo_lga_id"
                    placeholder="Select Warehouse LGA. . ."
                    bindValue="id"
                    formControlName="geo_lga_id"
                    optionLabel="name"
                  ></p-dropdown>
                  <div
                    *ngIf="
                      warehouseForm.controls['geo_lga_id'].invalid &&
                      warehouseForm.controls['geo_lga_id'].touched
                    "
                  >
                    <small
                      *ngIf="warehouseForm.controls['geo_lga_id'].errors?.['required']"
                      class="p-error blockr"
                      >Warehouse LGA is Required</small
                    >
                  </div>
              </div>
            </div>
          </form>
          <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
            <div>
              <div class="flex align-items-center text-700 flex-wrap">
              </div>
            </div>
            <div class="mt-3 lg:mt-0">
              <button pButton pRipple label="Cancel" class="p-button-outlined p-button-raised p-button-secondary mr-2"
                icon="pi pi-times" (click)="goBack()"></button>
              <button class="p-button-raised" (click)="save()" pButton pRipple label="Save" icon="pi pi-check"
                [disabled]="warehouseForm.invalid"></button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
