<!-- <div class="flex">
  <div class="frame-7 ">
    <div class="i-phone-14-15-pro-max-1">
      <div class="group-1 justify-content-center">
        <div
          class="this-card-is-not-transferable-it-is-for-the-identification-of-the-holder-if-found-please-return-to ">
          This card is not transferable, it is
          <br />
          for the identification of the holder
          <br />
          if found please return to
        </div>
        <img class="image-3" src="assets/images/logos/nti logo.png" />
        <div class="registrar-national-teachers-institute-kaduna-p-m-b-2191-nigeria">
          REGISTRAR
          <br />
          NATIONAL TEACHERS INSTITUTE KADUNA
          <br />
          P.M.B 2191, NIGERIA
        </div>
        <div class="this-card-must-be-surrended-by-the-student-after-completing-nti-programme">
          This Card must be surrended by the
          <br />
          student after completing NTI
          <br />
          programme
        </div>
        <div class="scan-me">
          <div class="rectangle-7"></div>
          <div class="scan-me2">Scan me</div>
        </div>
        <img class="image-4" src="image-40.png" />
        <div class="line-4"></div>
        <div class="registrar">Registrar</div>
        <div class="line-5"></div>
        <div class="date">Date</div>
      </div>
    </div>
  </div>

</div> -->


<div class="frame-9">
  <div class="frame-7">
    <div class="i-phone-14-15-pro-max-1"></div>
    <div class="group-3">
      <div class="inner-square-9"></div>
      <div class="group-2">
        <div class="name">Name:</div>
        <div class="department">Department:</div>
        <div class="reg-no">Reg No:</div>
        <div class="date-issued">Date Issued:</div>
        <div class="valid-date">Valid Date:</div>
        <div class="state">State:</div>
        <div class="line-16"></div>
        <div class="holder-s-sign">Holder’s Sign</div>
        <div class="national-teachers-institute-kaduna-pmb-2191-nigeria">
          NATIONAL TEACHERS’ INSTITUTE,KADUNA,
          <br />
          PMB2191,NIGERIA
        </div>
        <div class="postgraduate-diploma">POSTGRADUATE DIPLOMA</div>
        <svg class="rectangle-18" width="416" height="6" viewBox="0 0 416 6" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M0.804535 0.16217H416.002V6.00001H0.804535V0.16217Z" fill="#519500" />
        </svg>
        <img class="image-28" src="assets/images/logos/nti_logo.png" />
        <svg class="pyramid-in-id-4" width="209" height="227" viewBox="0 0 209 227" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M99.2349 6.454C102.006 3.4533 106.748 3.45329 109.519 6.45399L204.055 108.807C206.532 111.489 206.532 115.624 204.055 118.306L109.519 220.66C106.748 223.66 102.006 223.66 99.2349 220.66L4.69908 118.306C2.22205 115.624 2.22204 111.489 4.69907 108.807L99.2349 6.454Z"
            fill="#D9D9D9" />
          <line y1="-0.5" x2="149.803" y2="-0.5"
            transform="matrix(-0.616703 0.787196 -0.726045 -0.687647 153.224 53.427)" stroke="#443E3E" />
          <line y1="-0.5" x2="153.364" y2="-0.5" transform="matrix(0.63008 0.77653 -0.713875 0.700273 51.2829 53.427)"
            stroke="#5C5656" />
        </svg>
        <svg class="rectangle-24" width="36" height="362" viewBox="0 0 36 362" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M0.959534 0.41626L36.0018 38.8816V158.257V247.788V361.195L0.959534 294.875V288.243V157.594V0.41626Z"
            fill="#007236" />
        </svg>
        <div class="student-identitiy-card">STUDENT IDENTITIY CARD</div>
      </div>
    </div>
  </div>
</div>