// //

// .frame-7,
// .frame-7 * {
//   box-sizing: border-box;
// }
// .frame-7 {
//   height: 648px;
//   position: relative;
// }
// .i-phone-14-15-pro-max-1 {
//   background: #ffffff;
//   width: 430px;
//   height: 648px;
//   position: absolute;
//   left: 0px;
//   top: 0px;
//   overflow: hidden;
// }
// .group-1 {
//   position: absolute;
//   inset: 0;
// }
// .this-card-is-not-transferable-it-is-for-the-identification-of-the-holder-if-found-please-return-to {
//   color: #000000;
//   text-align: center;
//   font-family: "Poppins-Regular", sans-serif;
//   font-size: 13px;
//   font-weight: 400;
//   position: absolute;
//   left: 100px;
//   top: 71px;
// }
// .image-3 {
//   width: 97.31px;
//   height: 63px;
//   position: absolute;
//   left: 160px;
//   top: 161px;
//   align-content: center;
//   object-fit: cover;
// }
// .registrar-national-teachers-institute-kaduna-p-m-b-2191-nigeria {
//   color: #000000;
//   text-align: center;
//   font-family: "Oswald-Bold", sans-serif;
//   font-size: 12px;
//   font-weight: 700;
//   position: absolute;
//   left: 109px;
//   top: 254px;
// }
// .this-card-must-be-surrended-by-the-student-after-completing-nti-programme {
//   color: #000000;
//   text-align: center;
//   font-family: "Poppins-Regular", sans-serif;
//   font-size: 12px;
//   font-weight: 400;
//   position: absolute;
//   left: 99px;
//   top: 355px;
//   justify-content: center;
// }
// .scan-me {
//   width: 77.18px;
//   height: 17px;
//   position: static;
// }
// .rectangle-7 {
//   background: #000000;
//   width: 77.18px;
//   height: 17px;
//   position: absolute;
//   left: 164.47px;
//   top: 426px;
// }
// .scan-me2 {
//   color: #ffffff;
//   text-align: center;
//   font-family: "AverageSans-Regular", sans-serif;
//   font-size: 13px;
//   font-weight: 400;
//   position: absolute;
//   left: 184.61px;
//   top: 426px;
//   width: 51.45px;
// }
// .image-4 {
//   width: 86.13px;
//   height: 66px;
//   position: absolute;
//   left: 160px;
//   top: 446px;
//   object-fit: cover;
// }
// .line-4 {
//   border-style: solid;
//   border-color: #000000;
//   border-width: 1px 0 0 0;
//   width: 104.02px;
//   height: 0px;
//   position: absolute;
//   left: 60px;
//   top: 583px;
// }
// .registrar {
//   color: #000000;
//   text-align: center;
//   font-family: "Poppins-Regular", sans-serif;
//   font-size: 13px;
//   font-weight: 400;
//   position: absolute;
//   left: 60px;
//   top: 584px;
//   width: 64.87px;
// }
// .line-5 {
//   border-style: solid;
//   border-color: #000000;
//   border-width: 1px 0 0 0;
//   width: 104.02px;
//   height: 0px;
//   position: absolute;
//   left: 265px;
//   top: 584px;
// }
// .date {
//   color: #000000;
//   text-align: center;
//   font-family: "Poppins-Regular", sans-serif;
//   font-size: 13px;
//   font-weight: 400;
//   position: absolute;
//   left: 299.67px;
//   top: 585px;
//   width: 34.67px;
// }


.frame-9,
.frame-9 * {
  box-sizing: border-box;
}
.frame-9 {
  height: 648px;
  position: relative;
}
.frame-7 {
  width: 430px;
  height: 648px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.i-phone-14-15-pro-max-1 {
  background: #ffffff;
  width: 430px;
  height: 648px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.group-3 {
  position: absolute;
  inset: 0;
}
.inner-square-9 {
  background: linear-gradient(
    180.04deg,
    rgba(87, 153, 0, 0.9) 0%,
    rgba(74, 124, 0, 0.9) 23.07101935148239%,
    rgba(77, 130, 0, 0.9) 37.154507637023926%,
    rgba(255, 254, 254, 0.9) 39.50624763965607%,
    rgba(255, 254, 254, 0.9) 46.21822237968445%,
    rgba(255, 254, 254, 0.9) 57.33492374420166%,
    rgba(255, 254, 254, 0.9) 100%
  );
  width: 430px;
  height: 648px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.group-2 {
  width: 429px;
  height: 648px;
  position: static;
}
.name {
  color: #057a4d;
  text-align: center;
  font-family: "Oswald-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 30.79px;
  top: 395.81px;
  width: 41.68px;
  height: 25.58px;
  -webkit-text-stroke: 1px #fffefe;
}
.department {
  color: #057a4d;
  text-align: center;
  font-family: "Oswald-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 30.79px;
  top: 421.38px;
  width: 84.38px;
  height: 25.58px;
  -webkit-text-stroke: 1px #fffefe;
}
.reg-no {
  color: #057a4d;
  text-align: center;
  font-family: "Oswald-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 30.79px;
  top: 446.96px;
  width: 51.85px;
  height: 25.58px;
  -webkit-text-stroke: 1px #fffefe;
}
.date-issued {
  color: #057a4d;
  text-align: center;
  font-family: "Oswald-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 30.79px;
  top: 472.54px;
  width: 82.34px;
  height: 25.58px;
  -webkit-text-stroke: 1px #fffefe;
}
.valid-date {
  color: #057a4d;
  text-align: center;
  font-family: "Oswald-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 30.79px;
  top: 498.12px;
  width: 73.19px;
  height: 25.58px;
  -webkit-text-stroke: 1px #fffefe;
}
.state {
  color: #057a4d;
  text-align: center;
  font-family: "Oswald-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 30.79px;
  top: 523.7px;
  width: 40.66px;
  height: 25.58px;
  -webkit-text-stroke: 1px #fffefe;
}
.line-16 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 89.2px;
  height: 0px;
  position: absolute;
  left: 267.6px;
  top: 581.45px;
}
.holder-s-sign {
  color: #000000;
  text-align: center;
  font-family: "Oswald-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  left: 271.84px;
  top: 582.62px;
  width: 80.7px;
  height: 24.52px;
}
.national-teachers-institute-kaduna-pmb-2191-nigeria {
  color: #fffefe;
  text-align: center;
  font-family: "Coda-ExtraBold", sans-serif;
  font-size: 12px;
  font-weight: 800;
  position: absolute;
  left: 106.19px;
  top: 28.02px;
  width: 284.59px;
  height: 39.7px;
}
.postgraduate-diploma {
  color: #007236;
  text-align: center;
  font-family: "Oswald-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 75.39px;
  top: 342.1px;
  width: 265.47px;
  height: 42.03px;
}
.rectangle-18 {
  width: 415.2px;
  height: 5.84px;
  position: absolute;
  left: 13.8px;
  top: 642.16px;
  overflow: visible;
}
.image-28 {
  width: 120.45px;
  height: 96.91px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.pyramid-in-id-4 {
  width: 208.13px;
  height: 225.34px;
  position: absolute;
  left: 108.31px;
  top: 68.89px;
  overflow: visible;
}
.rectangle-24 {
  width: 35.04px;
  height: 360.78px;
  position: absolute;
  left: 393.96px;
  top: 107.42px;
  overflow: visible;
}
.student-identitiy-card {
  color: #fffefe;
  text-align: center;
  font-family: "Coda-ExtraBold", sans-serif;
  font-size: 16px;
  font-weight: 800;
  position: absolute;
  left: 401.14px;
  top: 396.94px;
  width: 251.03px;
  height: 24.42px;
  transform-origin: 0 0;
  transform: rotate(-89.886deg) scale(1, 1);
}
