<p-toast></p-toast>
<div
  id="fadein"
  style="
    background-image: url(assets/layout/images/Berium-7.jpg);
    background-size: cover;
    background-position: 100% 100%;
  "
  class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
  <div
    class="surface-card p-4 shadow-8 border-round w-full lg:w-4"
  >
    <div class="text-center mb-5">
      <img
        src="assets/layout/images/hacienda-logo.png"
        height="100px"
        alt="logo"
      />
      <div class="text-900 text-3xl font-medium mb-3">
        Choose a new password
      </div>
      <!-- <p-messages [value]="msgs"></p-messages> -->
    </div>
    <form
      [formGroup]="resetPasswordForm"
      (ngSubmit)="onSubmit()"
    >
      <div>
        <!-- <label for="new-password" class="block text-900 font-medium mb-2">We'll send a recovery link to</label> -->
        <label
          for="new-password"
          class="block text-900 font-medium mb-2"
          >New Password</label
        >
        <p-password
          class="w-full mb-3"
          formControlName="newpassword"
        >
          <!-- <input id="new-password" formControlName="newpassword" type="password" pPassword class="w-full mb-3"> -->
        </p-password>

        <button
          pButton
          pRipple
          label="Continue"
          class="w-full mb-5"
        ></button>
      </div>
    </form>
    <div class="text-center">
      <!-- <hr /> -->
      <a
        class="font-medium no-underline text-blue-500 text-right cursor-pointer"
        routerLink="/auth/login"
        >Still have trouble logging in?</a
      >
    </div>
  </div>
</div>
